<%if c.interesting
    hasChilds = !c.subclasses.empty? && c.subclasses.map{|x| x.interesting}.any?%>
  <%t_name = t("ontology.#{c.name}")%>
  <li><a>
      <label class="<%=c.id.to_s%>"><%=check_box_tag("class[" + c.id.to_s + "]","1",selected_classes.include?(c.id.to_s))%> <%=t_name%>
      </label>
      <%if hasChilds%>
        <%=image_tag("right-arrow.png")%>
      <%end%>
      </a>
      <%if hasChilds%>
      <ul>
        <%c.subclasses.each do |sub|%>
          <%= render :partial => 'ontology/display_class_menu',:locals => {:c=>sub, :selected_classes =>selected_classes}%>
        <%end%>
      </ul>
    <%end%>
  </li>
<%end%>
