<!DOCTYPE html>
<html>
<head>
  <title>ActivityRoutePlanner</title>
  <%= stylesheet_link_tag :all,'design' %>

  <%=stylesheet_link_tag("../javascripts/yui/container/assets/container")%>
  <%= javascript_include_tag 'prototype.js',:defaults %>
  <%= csrf_meta_tag %>
  <script>
  // this allows jquery to be called along with scriptaculous and YUI without any conflicts
  // the only difference is all jquery functions should be called with $j instead of $
  // e.g. $j('#div_id').stuff instead of $('#div_id').stuff
  var $j = jQuery.noConflict();
</script>
  <%= javascript_include_tag 'OpenLayers.js','http://www.openstreetmap.org/openlayers/OpenStreetMap.js','yui/yahoo-dom-event/yahoo-dom-event.js','yui/container/container-min.js','util.js','yuiUtils.js'%>
</head>
<body onload="javascript:loadMap();">

<%= yield %>

</body>
</html>
