<!DOCTYPE html>
<html>
<head>
  <title>ActivityRoutePlanner</title>
  <%= stylesheet_link_tag :all,'design' %>
  <%= javascript_include_tag 'prototype.js',:defaults %>
  <%= csrf_meta_tag %>
  <script>
  // this allows jquery to be called along with scriptaculous and YUI without any conflicts
  // the only difference is all jquery functions should be called with $j instead of $
  // e.g. $j('#div_id').stuff instead of $('#div_id').stuff
  var $j = jQuery.noConflict();
</script>
  <%= javascript_include_tag 'util.js','OpenLayers.js','http://www.openstreetmap.org/openlayers/OpenStreetMap.js' %>
</head>
<body onload="javascript:loadMap();">

<%= yield %>

</body>
</html>
