<% if @results==nil || @results.empty?  %>
  <p>No results found</p>
<% else%>  
  <% @results.each do |result| %>
    addTempMarker('<%=result[:place_id]%>','<%=escape_javascript(result[:name])%>','<%=result[:lat]%>','<%=result[:lon]%>');
    <%= render :partial => 'geocoder/result',:locals => {:result=>result,:type=>params[:type]} %>
  <% end %>
<%end%>
