<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h1>Die Gruppen ihrer Veranstaltung</h1>
<br/>


<table border="1">
  <head>
    <th width="300"><b>Gruppenname</b><br/>Teilnehmern</th>
  <th valign="top" width="300">Projekt</th>

  </head>
<%Group.all.each do |group|%>
  <tr>
    
    <td> 
  <b><%=group.name%></b><%=group.id%><br/>
  <%project = group.project
      project_id = ""
      if project!=nil
        project_id = project.id
      end%>
  <%group.users.each do |user|%>
        <%= user.login %><br/>
      <%end%>
        <br/>
    </td>
    
    <td valign="top">
      <%= form_for(group) do |f|%>      
      <%= select_tag "project_id", options_from_collection_for_select(get_available_projects(group), "id", "name",project_id),
			:label => "Projektname",:style =>"width:300px",  :onchange => "this.form.submit()" %>
      <%end%>
    </td>
    
  </tr>
  <%end%>
</table>