<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h1>Die Gruppen ihrer Veranstaltung</h1>
<br/>
<table border="1">
  <head>
    <th width="300"><b>Gruppenname</b><br/>Teilnehmern</th>
  <th valign="top" width="300">Projekt</th>

  </head>
<%Group.all.each do |group|%>
  <tr>
    
    <td> 
  <b><%=group.name%></b><br/>
  <%= group.project %><br/>
  <%group.users.each do |user|%>
        <%= user.login %><br/>
      <%end%>
        <br/>
  
    </td>
    
    <td valign="top">
      <%= form_for(group) do |f| %>
      <%= select_tag "project_id", options_from_collection_for_select(Project.all, "id", "name"),
			:label => "Projektname", :onchange => "this.form.submit()",:selected => group.project %>
      <%end%>
    </td>
    
  </tr>
  <%end%>
</table>