<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @user.id %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Is professor:</b>
  <%= @user.is_professor %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
