<%label = ""
default = ""
if point != nil && point.label!=nil && (!point.label.eql? "")
  showDelete  = true
  default     = point.label
else
  showDelete = false
end
action = action_url
if action == nil
  action = '/updateRoute'
end
%>
<span class="pointInput" id="<%=type%>_id">
<%= form_tag(action,
              :onsubmit => "setBBox(this);showWall();",
              :remote => true) do |f| %>
			<%= text_field_tag "query",default, :style=> "width:150px;" %>
        <%= hidden_field_tag :type, type %>
        <%= hidden_field_tag :minlon %>
        <%= hidden_field_tag :minlat %>
        <%= hidden_field_tag :maxlon %>
        <%= hidden_field_tag :maxlat %>
        <%if showDelete%>
	<%= # link to remove that activity
          link_to image_tag("delete.gif", :border=>0,:class => "delete"), "/updateRoute?delete_point="+type,:class=>"delete", :remote => true,:onclick => 'showWall();'%>
	<% end%>
	<% end%>
        
</span>