<tr><td width="80px" align="right">
<%if show_delete 

        imageUrl = activity.get_image_url()
%>
	<img src="<%= imageUrl%>"
		alt="<%= activity.value%>" 
		title="<%= activity.value%>" 
		height="20px"/>
<%end%>
</td><td>
<%= select_tag "activity_"+index.to_s,
            options_from_collection_for_select(
            activity.get_possible_values(session).sort {|a,b| a.value <=> b.value} ,"tag_value","value",activity.tag+"$"+activity.value),
		  :size=>"1",
		  :style =>"width:156px;",
          :include_blank => true,
          :class => 'actionSelectBox',
		  :onfocus=>"this.size=7",
		  :onblur=>"this.size=1",
		  :onmouseleave=>"this.size=1",	 
	:onchange => 'showWall();'+remote_function(
	:url=> "/addActivity",
	:with => "'id="+index.to_s+"&activity=' +document.getElementById('activity_"+index.to_s+"').value")%>  
  </td><td>
  <%if show_delete %>
	<%= # link to remove that activity
	link_to image_tag("delete.gif", :border=>0,:class => "delete"), "/deleteActivity?deleteActivity="+index.to_s, :remote => true,:onclick=>'showWall();'%>
<%end%>
</td></tr>