<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<br/>

<%= form_tag(:course_management) do %>
  <div class="field">
    <%= label(:login,"Login") %><br />
    <%= text_field(:login,"login") %>
  </div>
  <div class="actions">
    <%= submit_tag "Anmelden" %>
  </div><br/>
<div><%= flash[:errorMessage] %></div>
<% end %>
<br/><%= link_to 'New User', new_user_path %>

