<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "index" %>
<%= @title %> <%=@testvar%>
<%= form_for(:course_management) do |f| %>
  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>

