<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<%= form_tag(:course_management) do %>
  <div class="field">
    <h1><%= label(:login,"Login")%></h1><br />
    <%= text_field(:login,"login") %>
  </div>
  <div class="actions">
    <%= submit_tag "Anmelden" %>
  </div><br/>
<div><%= flash[:errorMessage] %></div>
<% end %>
<br/><%= link_to 'Benutzer anlegen', new_user_path %>

