<h1>Editing ontologyrole</h1>

<% form_for(@ontologyrole) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :domain %><br />
    <%= f.text_field :domain %>
  </p>
  <p>
    <%= f.label :range %><br />
    <%= f.text_field :range %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ontologyrole %> |
<%= link_to 'Back', ontologyroles_path %>