<h2>DO-ROAM Experiment</h2>
<p id="notice"><%= notice %></p>
<div id="input" style= padding-top:30px;'>
		<%= form_tag(@test, :method => "get") do %>
		<input type="hidden" name="id" value="0">
		<input type="hidden" name="start" value="1">
		<input type="hidden" name="user" value="<%=@user.id%>">
		<%= label_tag("mother", "Sprachen oder Dialekte, die du mit deinen Eltern gesprochen hast:") %>
		<br />
		<%= text_field_tag("mother") %>
		<br />
		<%= label_tag("home", "Sprachen oder Dialekte, die du mit Partnern u. in der Familie gesprochen hast:") %>
		<br />
		<%= text_field_tag("home") %>
		<br />
		<%= label_tag("partner", "Sprachen oder Dialekte, die du außerhalb der Familie gesprochen hast:") %>
		<br />
		<%= text_field_tag("partner") %>
		<br />
		<%= label_tag("language", "Choose language for the experiment:") %>
		<br />
		<%= select_tag("test_language", "<option selected=\"selected\">Deutsch</option><option>Englisch</option>".html_safe) %>
		
		<br />
		<br />
		<br />
		<%= submit_tag("Anfangen") %>
		<br /><br />	
		<% end %>
		
	</div>