<div id="algo_form">
	<%=form_tag "calculate_route", :remote => true do%>
		<table width=100%>
			<tr>
		    	<td><%= link_to "Reset Route", "/reset_method" %></td>
		  	</tr>
		  	<tr>
				<td>Notice sort (does not work):</td>
				<td align="right"><%= check_box_tag "Notice sort"%></td>
			</tr>
			<tr>
				<td>Select algorithm:</td>
				<td align="right">
						<%= select_tag "setAlgorithmus",
		            		options_from_collection_for_select(@alg_list,"value","tag",@route.algorithmus),
								:style=>"width:117px;",
			    				:onchange => "algoContent();"
						%>
				</td>
			</tr>
		</table>
		<div id="energy_form" width=100% style="display:none">
			<%= render "init/energy_form" %>
		</div>
		<%= submit_tag "Route berechnen",:id => "calculate_route", :disabled => @route.is_ready, :remote => true, 
						:onclick => 'showWall();'%>
	<%end%>
</div>
