<%= form_for(@group) do |f|%>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%project = @group.project
  if project==nil
    project = "no Project!"
  end
%>
        <%=project%><br/>
		<%= f.label 'Name' %>
    	<%= f.text_field :name %><br />
		<!--%= f.label '1. Teilnehmer:' %>
		<%= select_tag("user_one_id", options_from_collection_for_select(User.all, "id", "name"))%>
		<br />
                <!--%= f.text_field :name, :label => 'Benutzername:' %><br /-->
		<!--%= f.label '2. Teilnehmer:' %>
		<%= select_tag("user_two_id", options_from_collection_for_select(User.all, "id", "name")) %><br/><br/-->
                <%= f.label 'project' %>
		<%= select_tag "project_id", options_from_collection_for_select(Project.all, "id", "name") %>
		
		
		<div class="actions" style="margin-top:25px;">	
			<%= f.submit %>
		</div>	
<% end %>
