<%= form_for(@group) do |f|%>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

		<%= f.label 'Benutzername:' %>
    	<%= f.text_field :name %><br />
		<%= f.label '1. Teilnehmer:' %>
		<%= f.select("user_one_id", options_from_collection_for_select(User.all, "id", "name"))%>
		<br />
		<%= f.label '2. Teilnehmer:' %>
		<%= f.select("user_two_id", options_from_collection_for_select(User.all, "id", "name"),
			:label => "2. Teilnehmer") %>
		
		<div class="actions" style="margin-top:25px;">	
			<%= f.submit %>
		</div>	
<% end %>
