<%

route = session[:main_route]

start_point_string = "Start"
end_point_string = "Ziel"



%>

<%= form_tag('/updateRoute', :remote => true) do |f| %>
	<div class="pointInput">
		<%= text_field_tag 'start_point', start_point_string %>
		<%= submit_tag "Hinzufügen"%>
	</div>
<% end%>

<%= form_tag('/updateRoute', :remote => true) do |f| %>
	<div class="pointInput">
		<%= text_field_tag 'end_point', end_point_string %>
		<%= submit_tag "Hinzufügen"%>
	</div>
<% end%>