<%
route = session[:main_route]
start_point_string = "Start"
end_point_string = "Ziel"
%>
<table>
  <tr><td width="120px">Startpunkt:</td><td>
<%= form_tag('/updateRoute', :remote => true) do |f| %>
	<span class="pointInput">
                
		<%= text_field_tag 'start_point', start_point_string %>
		<%= submit_tag "Hinzufügen"%>
	</span>
<% end%>
</td></tr>
  <tr><td>Endpunkt:</td><td>
<%= form_tag('/updateRoute', :remote => true) do |f| %>
	<span class="pointInput">
                
		<%= text_field_tag 'end_point', end_point_string %>
		<%= submit_tag "Hinzufügen"%>
	</span>
<% end%>
</td></tr>
</table>